*{
    font-family: 'roboto';
    font-size: 15px;
}

main{
    background: url('../imagem/bg-repeat.jpg') repeat-x;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main .texto-principal .titulo,
main .texto-principal .mensagem-suporte{
    color: #fff;
}

main .texto-principal .titulo{
    font-size: 20px;
    margin-bottom: 10px;
}

main .texto-principal .mensagem-suporte{
    max-width: 300px;
    font-weight: 00;
}

main .formulario{
    background-color: #fff;
    padding: 20px;
    margin-left: 60px;
}

main .formulario .input,
main .formulario .btn-enviar{
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 9px;
    resize: none;
    font-weight: 700;
}

main .formulario .input::placeholder{
    color: #A8A8A8;
}


main .formulario .container .mensagem-erro{
    font-size: 8px;
    margin-bottom: 6px;
    color: #fff;
}

main .formulario .container .mensagem-erro.none{
    display: none;
}
main .formulario .container.erro .input{
    border: 1px solid #F52E2E;
}

main .formulario .container.erro .mensagem-erro{
    color: #F52E2E;
    display: block;
}

main .formulario .container.preenchido .input{
    border: 1px solid #00C22B;
}
    
main .formulario .btn-enviar{
    background-color: #3CCC87;
    color: #fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
